@import "tailwindcss";
@source inline("{sm:,md:,lg:,xl:,}bg-sky-{50,{100..900..100},950}");
@source inline("{sm:,md:,lg:,xl:,}bg-blue-{50,{100..900..100},950}");

:root {
  --background: #eeeeff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
